@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

:root {
    --color-text: #FFFFFF;
    --color-text-muted: #BBBBBB;
    --color-border: #2C2C2C;
    --color-error: #FF5252;

    /* Main background color */
    --color-background: #121212;

    /* Panel/box background */
    --color-surface: #1E1E1E;
    --color-surface-lighter: #2B2B2B;

    /* Accent colors (buttons, links) */
    --color-primary: #00BCD4;

    /* Subtle highlights */
    --color-secondary: #03DAC6;
}

* {
    font-family: "Funnel Display", sans-serif;
    color: var(--color-text);
    background-color: var(--color-background);
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    outline: none;
    border: 1px solid var(--color-border);
    background-color: var(--color-surface);
    border-radius: 0.2rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--color-surface-lighter);
}