@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

:root {
    --color-text: #FFFFFF;
    --color-text-muted: #BBBBBB;
    --color-border: #2C2C2C;
    --color-error: #FF5252;

    /* Main background color */
    --color-background: #121212;

    /* Panel/box background */
    --color-surface: #1E1E1E;
    --color-surface-lighter: #2B2B2B;

    /* Accent colors (buttons, links) */
    --color-primary: #00BCD4;

    /* Subtle highlights */
    --color-secondary: #03DAC6;
}

* {
    font-family: "Funnel Display", sans-serif;
    color: var(--color-text);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background);
}

button {
    outline: none;
    border: 1px solid var(--color-border);
    background-color: var(--color-surface);
    border-radius: 0.2rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--color-surface-lighter);
}

input {
    outline: none;
    border: 1px solid var(--color-border);
    background-color: var(--color-surface);
    border-radius: 0.2rem;
    padding: 0.5rem;
    transition: background-color 0.3s;
}

input:focus {
    background-color: var(--color-surface-lighter);
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 1.5rem;
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-surface-lighter);
    -webkit-transition: background-color 0.4s;
    transition: background-color 0.4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 1.3rem;
    width: 1.3em;
    left: 0.1rem;
    bottom: 0.1rem;
    background-color: var(--color-text);
    -webkit-transition: transform 0.4s;
    transition: transform 0.4s;
}
  
input:checked + .slider {
    background-color: var(--color-primary);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(1.5rem);
    -ms-transform: translateX(1.5rem);
    transform: translateX(1.5rem);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 2rem;
}
  
.slider.round:before {
    border-radius: 50%;
}